.card-img-top {
    width: auto;
    height: 250px;
	background-size: cover;
	background-position: center;
}

.jumbotron {
    height:100%;
}

#weatherImage {
    padding-bottom: 0px;
}
.temperature {
    font-size: 40px;
}

