

#weatherImage {
    padding-bottom: 0px;
}

#cityNameDisplay {
    font-weight: 500;
    font-size: 3rem;
}

#weatherConditions {
    font-size : xx-large;
    text-transform: capitalize;
    font-weight: 500;
}

.temperature {
    font-size: 40px;
}

